@import '../node_modules/bootstrap/scss/bootstrap.scss';
@import './blog.scss';

.user, .item {
  height: 100%;
  border-radius: 10px;
  border: 2px solid black;
  padding: 10px;
  margin-bottom: 5px;
}